body {
  padding-left: 45px;
  padding-top: 32px;
  font-family: font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #f9e479;
  background-color: #757165 }
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #757165;
	border: solid;
}
h1 {
	font-family: font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	border: solid;
}
li {
  float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #819f62;
}
li a:hover {
    background-color: #c7ca71;
}
.active {
    background-color: #c7ca71;
}
a:visited{
	color: #4b3b22;
}

a:link {
	color: GREEN
}